<header id="banner">
    <div class="logo">
      <a href="https://lichess.org/@/b1021017" target="_blank">
        <img src="/assets/PersonalLogo.png">
      </a>
    </div>

    <h1 id="links">
        <a href="https://www.linkedin.com/in/bndoye/" target="_blank"> <i class="fa fa-linkedin-square" style="font-size:30px;padding:5px;"></i></a>
        <a href="mailto:bndoyecs@gmail.com" target="_blank"> <i class="fa fa-envelope" style="font-size:30px;padding:5px;"></i></a>
        <a href="https://github.com/classBabacar/" target="_blank"><i class="fa fa-github"style="font-size:30px;padding:5px;"></i></a>
    </h1>
</header>

<mat-card>
  <mat-card-content>
    <h2 id="text">
      <span >
        Hi, I am Babacar Ndoye
      </span>
    </h2>
  </mat-card-content>
</mat-card>
  