#banner {
  box-sizing: border-box;
    background-color: #FFC90E;
    display: grid;
    grid-template-areas:
      "logo toolbar"
      "title title";
  }
.logo{
  padding-top: 2%;
  padding-left: 2%;
}

header#banner h1 {
    background-color: #99D9EA;
    grid-area:title;
    padding:0.6%;
    margin-bottom:0;
    box-sizing: border-box;

  }

#links{
  text-align: right;
  font-size: 1.5em;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 8 0%;
  font-size: 1.5em;
}
mat-card{
  background-color: coral;
}

@media only screen and (max-width: 600px) {
  .main-div{
    display: flex;
    justify-content: center;
    font-size: 5px;
    box-sizing: border-box;
  }
}
