<mat-grid-list cols="2" rowHeight="fit"  style="height: 100%">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card id ="first">
        <h2> Hi, I am Babacar Ndoye and ...</h2>
        <mat-card-content id="paragraph">
          <ul>
            <div id="indent">
              <li>I'm from Staten Island, NY.</li>
              <li>I play <a href="https://lichess.org/@/b1021017" target="_blank">chess</a>.</li>
              <li>I play basketball.</li>
              <li>I love programming.</li>
              <li>I always want to get better.</li>
            </div>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card id="second">
        <h2> Work Experience</h2>
        <mat-card-content>
         <div id="work"> 
           <span> <strong>Office of Information Technology</strong> – Software Engineering Intern </span>
          <ul>
            <li>Building and deploying docker containers for most commonly used university applications</li>
            <li>Decreased size of application with the use of docker by more than 50% of applications original size</li>
            <li>Contributed to the design and development of applications as well as implementing bug fixes in python</li>
          </ul>
          <span><strong>Chipotle</strong> – Crew Member </span>
          <ul>
            <li>Collaborated with crew members to ensure the delivery of efficient and high-quality service</li>
            <li>Maintained calmness in high-stress, fast-paced environment</li>
            <li>Effectively assisted customers thus increasing stores throughput by 20%</li>
          </ul>
        </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card id="third">
        <button mat-button [matMenuTriggerFor]="menu" class="btn"><h2> Projects ...</h2></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="changeData('hangman')">Hangman</button>
          <button mat-menu-item (click)="changeData('connect4')">Connect4</button>
          <button mat-menu-item (click)="changeData('mastermind')">Mastermind</button>
        </mat-menu>
      
        <div *ngIf="connect4 == false && hangman == false && mastermind == false" id="formattext">
          <p>
            These are all the programs I made thus far click on the projects button to see!
          </p>
        </div>
        <div *ngIf="connect4" id="formattext">
          <h3>Connect4</h3>
          <p>
            Growing up I played this game a lot, it means so much to me because of the friendships I've developed playing it. Eventually, when I increased my programming skills 
            this was one of the programs I wanted to create the most and learned so much from making this.
            <br><br>
            Connect4 is a simple game to the naked eye but as you begin to study it you notice it's complexities, this was very rewarding theses were the following concepts I learned:
          </p>
          <ul>
            <li><strong>Classes</strong> - A way to decompose a game like connect4 into pieces, color and board.</li>
            <li><strong>Minimax</strong> - A way for an AI to evaluate a sequence of board states and make a logical decision.</li>
            <li><strong>Operating Systems/Docker</strong> - It was cool to figure out the opcodes of different colors on different machines it made me see the bigger 
              picture not even for games but when I write any program in general, try to give everyone the oppurtunty to view/use it. </li>
          </ul>
          <p> For more information you can find it here: <a href="https://github.com/classBabacar/Connect4WithAI" target="_blank"> Connect4 </a></p>
        </div>

        <div *ngIf="mastermind" id="formattext">
          <h3>Mastermind</h3>
          <p>
            As I got a better grasp on algorithms, my interest was piqued which resulted in me coming upon something very interesting. In 1977, 
            <a href="https://en.wikipedia.org/wiki/Donald_Knuth" target="_blank">Donald Knuth</a> came up with a
            really cool idea for this game called <a href="https://en.wikipedia.org/wiki/Mastermind_(board_game)">mastermind.</a> In simple explanation, he explained through 
            mathematics that the game can be won in 5 moves or less where players are given a maximum of 11 moves.

            <br><br>
            Most of the time for me words can't do justice, that's what drove me to start this program. It also noteworthy that most of the "great" programmers
            made algorithmic breakthroughs through games such as: <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" target="_blank">Game of Life</a>, Minesweeper, Chess, and soo
            many more. 
            <br><br>
            For more information you can find it here: <a href="https://github.com/classBabacar/GameOfMastermind" target="_blank"> Mastermind </a>
          </p>
        </div>
        
        <div *ngIf="hangman" id="formattext">
          <h3>Hangman</h3>
          <p>
            This is my very first personal program. In the beginning, I had no idea what to create to test myself so I would always google cool projects to make and to get "better" where the most
            common project was hangman. I always look at this program from time to time, these are one of the things that make programming so cool, you can look at programs from the past and look 
            at your thought process in code as well as see your improvements. This game taught me concepts that were bigger than programming.
          </p>
          <ol>
            <li><strong>Imagination</strong> - Even though hangman is an extremely basic game the amount of things you can do are infinite, changing it from extremely basic to complex. </li>
            <li><strong>Consistency</strong> - Almost every day in the summer I would work on this program and next thing you know I finished.</li>
            <li><strong>Having Fun</strong> - The amount of fun I had doing this was undescribable, that's what I think programming is all about. </li>
          </ol>
          For more information you can find it here: <a href="https://github.com/classBabacar/Hangman" target="_blank"> Hangman </a>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card id="fourth" >
        <button mat-button class="btn" (click)="generateFact()"><h2> Give me a random fact</h2></button>
        <div id="formattext">
          <p>
            <strong>Random Fact: </strong>{{this.fact}}
          </p>
        </div>
      </mat-card>
    </mat-grid-tile>
</mat-grid-list>
