// #header {
//   grid-area: header_section;
//   background-color: #FDD; 
// }


// #app {
//   grid-template-areas: "header" "main" "footer";
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-template-rows:  0.2fr 1fr 0.1fr;
//   height: 100vh;
// }

html{
  height: 100%;
}

body{
  margin: 0; 
  display: grid;
  height: 100%;
  grid-template-areas:
        "header_section"
        "Site-content_section";
  grid-template-rows: 0 27%; /* 100px for header, 100% for content section, 50px for footer */
}

.header { 
  grid-area: header_section;
  // background-color: #FDD; 
  }

.Site-content { 
  grid-area: Site-content_section;
}
